.firstViewSize {
    transform: scale(0.78);
}

.outlineSvg{
    stroke: #000000;
    stroke-width: 1px;
}

.MysiteLogo{
    position: absolute;
    top: 2rem;
    z-index: 15;
}

.Mysitebg{
    position: absolute;
    z-index: 0;
    top: 9.8rem;
    left: -5.6rem;
}

.MysiteEffect{
    position: absolute;
    z-index: 16;
    left: -11rem;
    top: 0rem;
}

.topLogo{
    position: relative;
    transform: scale(0.75);
    left: 3.4rem;
    top: 7rem;
    z-index: 10;
}

.topbg{
    position: relative;
    z-index: 0;
}

.star1-1{
    position: absolute;
    left: -16rem;
    z-index: 16;
}

.star1-2{
    position: absolute;
    transform:scale(0.6);
    left:74rem;
    top:24rem;
    z-index: 16;
}

.star2-1{
    position: absolute;
    transform: scale(0.7);
    left: 79rem;
    top: 6rem;
    z-index: 1;
}

.star2-2{
    position: absolute;
    left: 12.9rem;
    transform: scale(0.6);
    top: 0.6rem;
    z-index: 1;
}

.star2-3{
    position: absolute;
    left: 8rem;
    top: 36rem;
    transform: scale(0.7);
    z-index: 1;
}

.star3-1{
    position: absolute;
}

.star3-2{
    position: absolute;
}

.cloud1-1{
    position: absolute;
    transform: scale(0.38);
    left: 33rem;
    top: 6rem;
    z-index: 0;
}

.cloud1-2{
    position: absolute;
    transform: scale(0.7);
    left: 48rem;
    top: 3rem;
    z-index: 0;
}

.cloud1-3{
    position: absolute;
    transform: scale(0.5);
    left: 13rem;
    top: -4rem;
    z-index: 0;
}

.bercode{
    position: absolute;
}